.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  position: relative;
}
#increment {
  padding: 15px 15px;
  background-color: blueviolet;
  color: white;
  margin: 12px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.form-container {
  margin: 12px;
  width: 600px;
  height: 420px;
  border: 1px solid gainsboro;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  position: relative;
}

#message-form input {
  border-radius: 10px;
  position: absolute;
  top: 10%;
  right: 50%;
  padding: 13px;
}
#submit {
  padding: 12px 20px;
  background-color: green;
  color: white;
  margin: 7px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 9%;
  left: 50%;
}

.location-div {
  top: 35%;
  left: 29%;
  position: absolute;
}
#sharelocation {
  padding: 12px 22px;
  background-color: rgb(6, 129, 201);
  color: white;
  margin: 7px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

#messagediv {
  margin: 12px;
  width: 600px;
  height: 420px;
  border: 1px solid gainsboro;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.6);
  position: relative;
}
.h5 {
  font-size: 25px;
  text-align: center;
}
